<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>
  <h2><%= t(".content") %></h2>
  <%= link_to t(".login_button"), "#", class:"btn btn-lg btn-primary" %>
</div>
