$cyan-blue: #f3f3f9;
$blue-magenta: #4b4276;
$white: #fff;
$slightly-purple: #bdb8d7;
$purple: #594f8d;
$east-bay: #4b4276;
$dark-gray: #717171;
$platinum: #e0e4e8;
$quite-gray: #999999;
$light-gray: #777;
$blur-gray: #eaeaea;
$davy-gray: #555;
$very-dark-gray: #222;
