@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  color: $white;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  border-top: 1px solid $blur-gray;
  color: $light-gray;
}

footer a {
  color: #555;
  color: $davy-gray;
}

footer a:hover {
  color: #222;
  color: $very-dark-gray;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.p-style-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin-top: 15px
}

.p-style-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%
}

.bg-dark {
  background-color: black;
}

.mh-100 {
  min-height: 100vh;
}
